@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --main-color-lighter: #dabfff;
    --main-color-light: #907ad6;
    --main-color-dark: #4f518c;
    --main-color-darker: #2c2a4a;
    --positive-outcome-color: #6ede8a;
    --negative-outcome-color: #e5383b;
}

* {
    font-family: Verdana, sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    color: var(--main-color-darker);
}

.main-section {
    background-color: var(--main-color-darker);
    color: white;
    padding-bottom: 2em;
}

.main-section .btn-primary {
    background-color: var(--main-color-lighter);
    color: var(--main-color-darker);
    border-radius: 10px;
    border-color: var(--main-color-lighter);
    border-style: solid;
    font-weight: bold;
    padding: 0.4em;
}
.main-section .btn-primary:hover, .btn-primary:active {
    background-color: var(--main-color-dark);
    color: var(--main-color-lighter);
    border-color: var(--main-color-dark);
}
.main-section .btn-primary:active {
    background-color: var(--main-color-lighter);
    color: var(--main-color-darker);
}

.main-section h1 {
    text-align: center;
    color: var(--main-color-lighter);
    padding: 0.8em 0em;
}

.main-section .option-button {
    background: none;
    border: none;
    color: var(--main-color-lighter);
}
.main-section .option-button:hover {
    color: var(--main-color-dark);
}


.second-section {
    background-color: var(--main-color-light);
}

.second-section h2 {
    color: var(--main-color-darker);
}

.second-section .border {
    border-color: var(--main-color-darker) !important;
    border-radius: 5px;
    padding: 5px;
}


.output-section.positive {
    background-color: var(--positive-outcome-color);
}
.output-section.negative {
    background-color: var(--negative-outcome-color);
}

.nav-item {
    margin: 0.5em;
}



.input-group-append .btn {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}





.card-title a {
    text-decoration: none;
    color: var(--main-color-dark);
}
.card-title a:hover {
    color: var(--main-color-darker);
}

label {
    margin-bottom: 0.2em;
}
label small {
    font-size: 0.8em;
}